<p>New shopping trip</p>
<p>{{date}}</p>

<!-- <div ui-view="scanUPC"></div> -->

<div class="card" >
  <div class="item item-text-wrap">
    <a href="#/inside/scanUPC">Scan product UPC codes</a>
  </div>
</div>

<div class="card" >
  <div class="item item-text-wrap">
    <a href="#/inside/scanReceipt">Scan receipt</a>
  </div>
</div>

<div class="card" >
  <div class="item item-text-wrap">
    <a href="inside/scanReceipt">Match Receipt to UPC</a>
  </div>
</div>

<div class="card" >
  <div class="item item-text-wrap">
    <a href="inside/saveShoppingTrip">Save</a>
  </div>
</div>

<div class="card" >
  <div class="item item-text-wrap">
    <a href="inside/saveShoppingTrip">Finish</a>
  </div>
</div>



<!-- <ion-tabs class="tabs-energized tabs-icon-top">
  <ion-tab title="Scan UPC" icon="ion-briefcase" href="/inside/scanUPC">
  </ion-tab>

  <ion-tab title="Scan Receipt" icon="ion-android-cart" href="/inside/newShoppingTrip">
  </ion-tab>
</ion-tabs> -->
