<div class="card" >
  <div class="item item-text-wrap">
    <a href="/#/inside/scanUPC">Scan product UPC codes</a>
  </div>
</div>

<div class="card" >
  <div class="item item-text-wrap">
    <a href="/#/inside/scanReceipt">Scan receipt</a>
  </div>
</div>

<div class="card" >
  <div class="item item-text-wrap">
    <a href="inside/scanReceipt">Match Receipt to UPC</a>
  </div>
</div>

<div class="card" >
  <div class="item item-text-wrap">
    <a href="inside/saveShoppingTrip">Save</a>
  </div>
</div>

<div class="card" >
  <div class="item item-text-wrap">
    <a href="inside/saveShoppingTrip">Finish</a>
  </div>
</div>
