Purchased item


Product Name:<p id=product> Enter Product Name</p>

Price: <p id=price> Enter Product Price</p>

<p id=savings></p>

<button type="button" ng-click="scanUPC()">Scan UPC</button>


<button id="saveContinue" ng-click="saveContinue()" disabled class="button button-full button-positive">
Save & Continue
</button>

<div ng-repeat="row in parsedReceipt">

  <p>Product Id</p>
  <textarea id={{$index}} class="textbox" rows="1" cols="40">{{row[0]}}
  </textarea>
  <p>Price $</p>
  <textarea id={{$index}} class="textbox" rows="1" cols="40">{{row[1]}}
  </textarea>

  <button type="button" ng-click="saveLocation($index)" >Select</button>

  <button type="button" ng-click="memberSavings($index)" >Member Savings</button>

  <button type="button" ng-click="numberOfItems($index)" >#</button>

  <button type="button" ng-click="pricePerLb($index)" >$/lb</button>

 </div>
