
<p id='product'>Enter Product Name</p>

<p id='price'>Enter Price</p>

<p id='memberSavings'></p>
<p id='numberOfItems'></p>
<p id='pricePerPound'></p>

<button id="scanUPC" ng-click="scanUPC()" disabled class="button button-full button-positive">
Scan UPC
</button>

<button id="saveContinue" ng-click="saveContinue()" disabled class="button button-full button-positive">
Save & Continue
</button>

<div ng-repeat="row in parsedReceipt">

  <div id={{$index}}>

  <p id="productID-{{$index}}"> Product Id
  <textarea id="text-productID-{{$index}}" class="textbox" rows="2" cols="40">{{row[0]}}
  </textarea>
  </p>

  <p id="price-{{$index}}">Price $
  <textarea id="text-price-{{$index}}" class="textbox" rows="2" cols="5">{{row[1]}}
  </textarea>
  </p>

  <p id="numberOfItems-{{$index}}" class="productOptions">#
  <textarea id="text-numberOfItems-{{$index}}" class="textbox" rows="2" cols="40">
  </textarea>
  </p>

  <p id="pricePerPound-{{$index}}" class="productOptions">Price per lb $
  <textarea id="text-pricePerPound-{{$index}}" class="textbox" rows="2" cols="5">
  </textarea>
  </p>

  <p id="memberSavings-{{$index}}" class="productOptions">Member Savings $
  <textarea id="text-memberSavings-{{$index}}" class="textbox" rows="2" cols="5">
  </textarea>
  </p>

  <button type="button" ng-click="memberSavings($index)">Savings</button>

  <button type="button" ng-click="numberOfItems($index)">#</button>

  <button type="button" ng-click="pricePerPound($index)" >$/lb</button>

  <button type="button" ng-click="delete($index)">Delete</button>

  <br>

  <button type="button" ng-click="selectTextFields($index)">Select</button>

  <br>

 </div>
