<!-- <html ng-app="starter">

<body ng-controller="PictureCtrl">

  <div style="height: 400px;" layout-margin >
      <div layout="row" layout-align="center center" layout-fill
                     ngf-drop ngf-max-size='4000000' ngf-allow-dir="true" ngf-select="true" ngf-capture="capture"
                     ng-model="files" ngf-drag-over-class="upload-bg-color" ngf-multiple="false" accept="image/*">

      </div>
  </div>

</body>
</html> -->



 <img width="300px" ng-src="{{image}}">


<p>Parsing your receipt....</p>
<!-- <img src="{{image}}"> -->
