Enter tax and total:

<!-- <h3 id="taxDisplay"></h3>
<h3 id="totalDisplay"></h3> -->

<button id="saveContinue" ng-click="saveContinue()" class="button button-full button-positive">
Save & Continue
</button>

<p>Tax
<textarea id="tax" class="textbox" rows="1" cols="6">
</textarea>
</p>

<p>Total
<textarea id="total" class="textbox" rows="1" cols="6">
</textarea>
</p>


<!-- <div ng-repeat="row in parsedReceipt.parsed">

  <textarea id={{$index}} class="textbox" rows="4" cols="50">
  {{row[0]}}
  </textarea>

  <button type="button" ng-click="saveLocation($index)" >Select</button>

 </div> -->
